/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Quicksand.ttf");
}

.text {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-family: "Quicksand";

}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 12px;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background;
}

.label {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-family: "Quicksand";

}

.hyperlink {
    -fx-border-color: transparent;
    -fx-font-family: "Quicksand";
    -fx-underline: false;

}

.hyperlink:hover {
    -fx-border-color: transparent;
    -fx-font-family: "Quicksand";
    -fx-underline: true;


}

.list-cell:selected {
    -fx-background-color: #d86e3a;
}

.radio-button {
    -fx-font-family: "Quicksand";
    -fx-text-fill: linear-gradient(white, #d0d0d0);

}

.radio-button .radio:hover {
    -fx-border-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-border-radius: 125px;
    /*rounds the border around the button, "faking" a nice round outline*/
}

.radio-button .radio:selected {
    -fx-border-color: #15171c;
    -fx-border-radius: 125px;
    -fx-fill-color: orange;
}

.color-picker .label {
    -fx-text-fill: null;

}

.color-picker {
    -fx-background-color: null;
    -fx-pref-width: 10px;
    -fx-color-rect-width: 20px;
    -fx-color-rect-height: 20px;
}

.combo-box-base:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

.color-picker .arrow-button .arrow {
    /*Setting either of these two will do.*/
    -fx-background-color: transparent;
    -fx-opacity: 0.0;
}

#PlayerTurn {
    -fx-font-weight: bold;
    -fx-font-size: 2em;
    -fx-font-family: "Quicksand";
    -fx-fill: linear-gradient(white, #d0d0d0);
}

#MainMenuTxt {
    -fx-font-family: "Quicksand";
    -fx-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20;
}

#launch_button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 5.0);
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15;
    -fx-font-family: "Quicksand";

}

#launch_button:pressed {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e0a836 0%, #dde036 100%),
        #e0a836,
        #dde036,
        radial-gradient(center 50% 50%, radius 100%, #e0a836, #dde036);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 2.5);

}

#launch_button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e0a836 0%, #dde036 100%),
        #e0a836,
        #dde036,
        radial-gradient(center 50% 50%, radius 100%, #e0a836, #dde036);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 5.0);
}

#submit_button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 5.0);
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20;
    -fx-font-family: "Quicksand";

}

#submit_button:pressed {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e0a836 0%, #dde036 100%),
        #e0a836,
        #dde036,
        radial-gradient(center 50% 50%, radius 100%, #e0a836, #dde036);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 2.5);

}

#submit_button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #e0a836 0%, #dde036 100%),
        #e0a836,
        #dde036,
        radial-gradient(center 50% 50%, radius 100%, #e0a836, #dde036);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 0.0, 25.0, 0.0, 5.0);
}

#PlayerText {
    -fx-font-weight: bold;
    -fx-font-size: 3em;
    -fx-font-family: "Quicksand";
}

#BackgroundColor {
    -fx-background-color: #06172b;
}

#txtWhite {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-family: "Quicksand";
}

#WhiteBold {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(white, #d0d0d0);
}

#QuestionLabel {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15;
}

#CreditsTxt {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(white, #d0d0d0);
    -fx-font-family: "Quicksand";

}

#txtAuthentification {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 50;
    -fx-font-family: "Quicksand";

}

#hlLink {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: "Quicksand";
}

#lblWrongUserInfo {
    -fx-text-fill: red;
    -fx-font-family: "Quicksand";
}

#txtMessageAnswer {
    -fx-font-size: 30;
}

#txfMainMenu {
    -fx-padding: 5 5 5 5;
}

#lblMainMenu {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-font-family: "Quicksand";
}

#txtWinPlayer {
    -fx-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-font-family: "Quicksand";

}